.list {
	background-color: rgb(31, 31, 31);
	display: flex;
	justify-content: space-between;
	padding: 0 30px 0 30px;
	color: white;
	height: 50px;
	font-size: 30px;
	border: 1px solid black;
}
.select {
	font-size: 1rem;
	width: 100px;
	font-weight: bold;
	color: white;
	background-color: #40005d;
	border: 1px solid white;
	padding: 0.5rem;
	border-radius: 12px;
}
